.room {
	&-content{
		width: 1200px;
		margin: 0 auto;
		padding: 47px 62px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		&__info{
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-right: 37px;
			&-details{
				width: 482px;
				p{
					font-size: 14px;
					color: #000000;
					letter-spacing: 1.46px;
					line-height: 31px;
					margin-bottom: 6px;
				}
				.room-content__info-details-title{
					font-size: 36px;
					margin-bottom: 30px;
				}
				.room-content__info-details-description{
					font-size: 12px;
					line-height: 20px;
				}
				.room-content__info-details-time{
					display: flex;
					p{
						margin-right: 96px;
						span{
							font-size: 21px;
							letter-spacing: 2.19px;
						}
					}
				}
			}
			&-price{
				text-align: right;
				p{
					line-height: 27px;
					color: #000000;
					&:nth-child(2),
					&:nth-child(4){
						font-size: 14px;
						color: #6D7278;
						letter-spacing: 1.46px;
						line-height: 27px;
					}
					&:nth-child(1){
						font-size: 30px;
						letter-spacing: 3.13px;
					}
					&:nth-child(3){
						font-size: 16px;
						letter-spacing: 1.67px;
					}
				}
			}
		}
		&__calendar{
			width: 383px;
			height: 10px;
			background-color: red;
		}
	}
}	